
@*FooterViewComponent*@
 
 
 
 <footer id="footer" class="mt-5">
        <div class="container">
            <div class="row d-flex flex-wrap justify-content-between py-5">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu footer-menu-001">
                        <div class="footer-intro mb-4">
                            <a href="index.html">
                                <img src="~/kaira-1.0.0/images/main-logo.png" alt="logo">
                            </a>
                        </div>
                        <p>
                        KAIRA, zamansız tasarımları ve eşsiz kalitesiyle gardırobunuza değer katıyor. Her bir parça, modern kadının ve erkeğin gücünü ve zarafetini yansıtacak şekilde özenle tasarlanmıştır. Stilinizi KAIRA ile tamamlayın.
                        </p>
                        <div class="social-links">
                            @await Component.InvokeAsync("Footer_SocialMediaViewComponent")
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu footer-menu-002">
                    <h5 class="widget-title text-uppercase mb-4">Hızlı Bağlantılar</h5>
                        <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
                            <li class="menu-item">
                            <a href="index.html" class="item-anchor">ANASAYFA</a>
                            </li>
                            <li class="menu-item">
                            <a href="index.html" class="item-anchor">HAKKIMIZDA</a>
                            </li>
                            <li class="menu-item">
                            <a href="blog.html" class="item-anchor">HİZMETLERİMİZ</a>
                            </li>
                            <li class="menu-item">
                            <a href="styles.html" class="item-anchor">ÖZEL ÜRÜNLER</a>
                            </li>
                            <li class="menu-item">
                            <a href="#" class="item-anchor">İLETİŞİM</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu footer-menu-003">
                    <h5 class="widget-title text-uppercase mb-4">
                        Yardım & Bilgi
                        </h5>
                        <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
                            <li class="menu-item">
                            <a href="#" class="item-anchor">SİPARİŞİNİ TAKİP ET</a>
                            </li>
                            <li class="menu-item">
                            <a href="#" class="item-anchor">İADE VE DEĞİŞİM</a>
                            </li>
                            <li class="menu-item">
                            <a href="#" class="item-anchor">KARGO VE TESLİMAT</a>
                            </li>
                            <li class="menu-item">
                            <a href="#" class="item-anchor"> BİZE ULAŞIN</a>
                            </li>
                            <li class="menu-item">
                            <a href="#" class="item-anchor">BİZİ BULUN</a>
                            </li>
                            <li class="menu-item">
                            <a href="index.html" class="item-anchor">SIKÇA SORULAN SORULAR (SSS)</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu footer-menu-004 border-animation-left">
                    @await Component.InvokeAsync("Footer_ContactViewComponent")
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex flex-wrap">
                    
                    </div>
                    <div class="col-md-6 text-end">
                        <p>
                            © Copyright 2022 Kaira. All rights reserved. Design by <a href="https://templatesjungle.com"
                                                                                      target="_blank">TemplatesJungle</a> Distribution By <a href="https://themewagon.com"
                                                                                                                                             target="blank">ThemeWagon</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
