@model List<GetServiceQueryResult>
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Hizmetler</h1>

@{
    int count = 0;
}
<br />
<table class="table table-hover table-bordered">
    <tr>
        <th>#</th>
        <th>Servis Adı</th>
        <th>Açıklaması</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>
                <a href="/Admin/Service/Remove/@item.ServiceId" class="btn btn-outline-danger">Sil</a>
                <a href="/Admin/Service/Update/@item.ServiceId" class="btn btn-outline-info">Güncelle</a>
            </td>
        </tr>
    }
</table>

<div class="text-center">
    <a href="/Admin/Service/Create" class="btn btn-outline-success">Yeni Hizmet Ekle</a>
</div>