@model GetProductByIdQueryResult
@{
    ViewData["Title"] = "UpdateProduct";
}

<h3>Ürün Güncelleme</h3>

<form method="post">
    <label>Ürün Adı:</label>
    <input type="text" asp-for="ProductName" class="form-control" />
    <span asp-validation-for="ProductName" class="text-danger"></span>
    <br />
    <label>Ürün Görseli:</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <span asp-validation-for="ImageUrl" class="text-danger"></span>
    <br />
    <label>Ürün Fiyatı:</label>
    <input type="number" asp-for="Price" class="form-control" />
    <span asp-validation-for="Price" class="text-danger"></span>
    <br />
    <label>Kategori:</label>
    <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categories">
        <option disabled>Kategori Seçiniz</option>
    </select>
    <span asp-validation-for="CategoryId" class="text-danger"></span>
    <br />
    <div class="text-center">
        <button class="btn btn-outline-success">Kaydet</button>
    </div>
</form>


