@model CreateCategoryCommand
@{
    ViewData["Title"] = "CreateCategory";
}

<h3>Kategori Ekleme</h3>

<form method="post">
    <label>Kategori Adı:</label>
    <input type="text" asp-for="CategoryName" class="form-control" />
    <br />
    <label>Kategori Görseli:</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />
    <div class="text-center">
        <button class="btn btn-outline-success">Kaydet</button>
    </div>
</form>
